<robot name="reggie">

  <material name="white">
    <color rgba="1.0 1.0 1.0 1" />
  </material>

  <material name="black">
    <color rgba="0.0 0.0 0.0 1" />
  </material>

  <link name="map_frame" />

  <link name="base_link" />

  <joint name="base_to_map" type="fixed">
    <parent link="map_frame" />
    <child link="base_link" />
    <origin rpy="0 0 0" xyz="0 0 0" />
  </joint>

  <link name="chassis">
    <visual>
      <origin rpy="0 0 0" xyz="0.13 -0.0221 -0.043"/>
      <geometry>
        <mesh filename="package://reggie_support/meshes/chassis.stl" />
      </geometry>
      <material name="white" />
    </visual>
  </link>

  <joint name="base_link_to_chassis" type="fixed">
    <parent link="base_link" />
    <child link="chassis" />
    <origin rpy="0 0 0" xyz="0 0 0" />
  </joint>

  <link name="right_wheel">
    <visual>
      <geometry>
        <!-- radius 3.25 cm -->
        <cylinder radius="0.0325" length="0.025" />
      </geometry>
      <material name="black" />
    </visual>
  </link>

  <joint name="chassis_to_right_wheel" type="fixed">
    <parent link="chassis" />
    <child link="right_wheel" />
    <origin rpy="1.5707 0 0" xyz="0 -0.0755 -0.017" />
  </joint>

  <link name="left_wheel">
    <visual>
      <geometry>
        <!-- radius 3.25 cm -->
        <cylinder radius="0.0325" length="0.025" />
      </geometry>
      <material name="black" />
    </visual>
  </link>

  <joint name="chassis_to_left_wheel" type="fixed">
    <parent link="chassis" />
    <child link="left_wheel" />
    <origin rpy="1.5707 0 0" xyz="0 0.0755 -0.017" />
  </joint>

</robot>
