<launch>

<node pkg="rosbag" type="play" name="player" args="-l $(find reggie_support)/bags/kinect.bag"/>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find reggie_support)/rviz/crop_cloud.rviz" />

<node name="crop_cloud_node" pkg="reggie_localize" type="crop_cloud" output="screen" >

  <!-- DEFAULT MAP
  <param name="x_min" type="double" value="-0.726849" />
  <param name="x_max" type="double" value="0.706064" />
  <param name="y_min" type="double" value="-0.543809" />
  <param name="y_max" type="double" value="0.267617" />
  <param name="z_min" type="double" value="1.014" />
  <param name="z_max" type="double" value="1.331" />
  -->

  <!-- YELLOW MAP
  <param name="x_min" type="double" value="0.415" />
  <param name="x_max" type="double" value="0.43" />
  <param name="y_min" type="double" value="0.14" />
  <param name="y_max" type="double" value="0.16" />
  <param name="z_min" type="double" value="0.9" />
  <param name="z_max" type="double" value="1.34" />
  -->

  <!-- GREEN MAP
  <param name="x_min" type="double" value="-0.38" />
  <param name="x_max" type="double" value="-0.36" />
  <param name="y_min" type="double" value="0.115" />
  <param name="y_max" type="double" value="0.135" />
  <param name="z_min" type="double" value="0.9" />
  <param name="z_max" type="double" value="1.34" />
  -->

  <!-- BLUE MAP
  -->
  <param name="x_min" type="double" value="0.44" />
  <param name="x_max" type="double" value="0.455" />
  <param name="y_min" type="double" value="-0.505" />
  <param name="y_max" type="double" value="-0.49" />
  <param name="z_min" type="double" value="1.28" />
  <param name="z_max" type="double" value="1.331" />

</node>

</launch>
